html {
  background-color: rgb(193, 235, 235);
}

#navList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
}




ol {
   display: flex;
   flex-wrap: wrap;
}

figure {
   width: 180px;
   justify-content: center;
}

img {
   width: 100%;
   height: auto;
   border-radius: 75%;
}

figcaption {
   text-align: center;
}


.accordion-content {
   display: none;
   /* visibility: hidden; */
   }

.accordion-content.active {
   display: block;
   /* visibility: visible; */
   }
#artist-container.active {
      display: flex;
      flex-wrap: wrap;
   }   